@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --openSansTextFonts: "Open Sans", sans-serif;
    --headerBgColor: #0B192C;
}

html {
    font-family: var(--openSansTextFonts);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-wrapper {
    min-width: 22rem;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

form {
    box-shadow: 0 0 3px black;
    min-width: 23rem;
    min-height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

h2 {
    width: 23rem;
    box-shadow: 0 0 3px black;
    font-size: 1.2rem;
    background-color: var(--headerBgColor);
    color: #fff;
    padding: 2rem;
    text-align: center;
    position: relative;
}

h2::before {
    content: 'DK';
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px var(--headerBgColor);
    transform: translateX(50%);
    bottom: -1.7rem;
    left: 8rem;
    color: var(--headerBgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.credintials-input input {
    width: 17rem;
    padding: 0.3rem .6rem;
    /* border-radius: .3rem; */
    border: 1.7px solid gray;
    outline: none;
    font-size: .8rem;
    background-color: transparent;
}

.credintials-input input:focus {
    outline: 1px solid var(--headerBgColor);
    outline-offset: .1rem;
    border-radius: none;
}

label {
    font-size: .9rem;
    font-weight: 600;
}

.email-container {
    margin-bottom: .7rem;
}

.checkbox-remember-wrapper {
    display: inline;
    
}

.rememberMe-login-wrapper {
    width: 17rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: .4rem;
    width: 4rem;
    background-color: var(--headerBgColor);
    color: #fff;
    border: none;
}

button:hover {
    outline: 1px solid var(--headerBgColor);
    outline-offset: .1rem;
}

