@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --robotoFont: "Roboto", serif;
    --headerBgColor: #0B192C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--robotoFont);
    /* background-color: #444; */
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 60px auto 100px;
    grid-template-areas: 
    'sidebar navigation-bar'
    'sidebar main-body'
    'sidebar footer-section';
    position: relative;
}

/* Top/Header Section */
.nav-bar {
    grid-area: navigation-bar;
    background-color: rgb(223, 223, 223);
    display: inline-flex;
    justify-content: end;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.toggle {
    display: none;
    cursor: pointer;
    margin-right: auto;
}

.nav-bar i {
    font-size: 1.5rem;
}

.user-profile {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.user-profile img {

    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    box-shadow: 0 0 3px #000;

}

.user-profile-name {
    display: inline;
}

/* Main Page */
.main-content {
    /* border: 2px solid black; */
    grid-area: main-body;
    padding: 1rem;
    height: 470px;
    overflow-y: auto;
    
}

.dashboad-welcome-message h2 {
    font-weight: 700;
}

.dashboard-cards {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    margin-top: 1rem;
}

.dashboard-card {
    background-color: var(--headerBgColor);
    color: #fff;
    flex-grow: 1;
    padding: 1rem;
    height: 7rem;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-card h3 {
    opacity: .5;
}

.dashboard-card i {
    padding-right: .7rem;
}

.loadingAndFigure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loadingAndFigure p {
    font-size: 2rem;
    font-weight: 700;
}

.loadingAndFigure i {
    font-size: 2.6rem;
}

/* Student Button data */
.getData {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 39rem;
    padding-top: 1rem;

    /* border: 1px solid blue; */
    /* background-color: rgb(223, 223, 223); */

}
.student-welcome-message {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    box-shadow: 0 5px 15px var(--headerBgColor);
    padding: .5rem;
}

.student-welcome-message button {
    padding: .6rem;
    background-color: var(--headerBgColor);
    color: #fff;
    font-weight: 600;
    font-size: .9rem;
    border: none;
    cursor: pointer;
}


.student-welcome-message button:hover {
    outline: 1px solid var(--headerBgColor);
    outline-offset: .1rem;
}

.getData .download-file{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.download-file .getFiles p {
    display: inline;
    margin-right: .5rem;
}

.download-file .getFiles {
    background-color: var(--headerBgColor);
    color: #fff;
    padding: .8rem 2rem;
    max-width: 20.5rem;
    text-align: center;
}

.download-file .getFiles section {
    background-color: transparent;
    outline: none;
}

.search-bar-wrapper {
    /* border: 1px solid blue; */
    min-width: max-content;
}

.search-bar-wrapper input {
    background-color: transparent;
    border: 1px solid gray;
    padding: 3px .5rem;
    width: 7rem;
}

.search-bar-wrapper input:focus {
    outline: 1px solid var(--headerBgColor);
    outline-offset: .1rem;
    border: none;
}

table {
    margin: .5rem 0;
    width: 90%;
    min-width: 35rem;
    /* box-shadow: 0 2px 5px black; */
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: start;
    font-weight: 500;
}

table th {
    background-color: var(--headerBgColor);
    color: #fff;
    padding: .6rem;
}

table td {
    padding: .5rem;
}

table button {
    padding: .5rem;
    width: 2rem;
    border: none;
    color: #fff;
    cursor: pointer;
}

table .delete {
    background-color: red;
}

table .delete:hover {
    outline: 1px solid red;
    outline-offset: .1rem;
}

table .edit {
    background-color: var(--headerBgColor);
}

table .edit:hover {
    outline: 1px solid var(--headerBgColor);
    outline-offset: .1rem;
}

/* Sidebar Section */
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 150px auto auto 1fr;
    background-color: var(--headerBgColor);
    
}

.closeIcon {
    display: none;
}

.sidebar i {
    margin-right: .7rem;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #D8D2C2;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;

}

.sidebar a:hover {
    background-color: #fff;
    color: var(--headerBgColor);
}

.sidebar > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
}

.sidebar h3 {
    padding: .6rem 1rem;
    font-size: 1rem;
    color: rgba(166, 166, 166, 0.3);
    text-transform: uppercase;
    /* opacity: .3; */
}

/* Toggle sidebar */
/* .toggle-sidebar {
    grid-area: main;
    width: 100%;
    max-height: 15rem;
    padding: 1rem;
    position: absolute;
    background-color: rgb(223, 223, 223);
    top: 3.7rem;
    left: 0;
    z-index: 20;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'main manage tool';
    justify-content: center;
    align-items: center;
} */

.toggle-sidebar .main {
    grid-area: main;

}

.toggle-sidebar .manage {
    grid-area: manage;
    
}

.toggle-sidebar .tool {
    grid-area: tool;

}

.toggle-sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 200px;
    /* border: 1px solid blue; */
}

.toggle-sections a {
    text-decoration: none;
    padding: 5px;
    color: var(--headerBgColor);
    text-align: center;
    
}


.toggle-sections a:hover {
    text-decoration: underline;
}

.data-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* Footer Section */
.footer-section {
    grid-area: footer-section;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -1px 1px black;
}

/* Add New Student Forms */
.addNewStudent {
    min-width:25%;
    min-height: 25rem;
    position: absolute;
    top: 5%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -5%);
    z-index: 10;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 0 5px var(--headerBgColor);
    /* border: 1px solid black; */
}

.addNewStudent form {
    margin: 2rem 0;
    font-weight: 700;
    font-size: .9rem;
    height: 90%;
    width: 100%;
    /* border: 1px solid blue; */

}

.addNewStudent input {
    padding: .4rem;
    display: block;
    border-radius: 0;
    border: 1.5px solid gray;
    margin: .1rem 0 1rem 0;
    width: 100%;
    background-color: transparent;
}

hr {
    width: 100%;
}

.addNewStudent input:focus {
    outline: 1.5px solid var(--headerBgColor);
    outline-offset: .1rem;
}

.addNewStudent button {
    padding: .5rem;
    width: 5rem;
    border: none;
    color: #fff;
    font-weight: 700;
    margin-right: .3rem;
    cursor: pointer;
}

.addNewStudent .submit {
    background-color: var(--headerBgColor);
}

.addNewStudent .submit:hover {
    outline: 1px solid var(--headerBgColor);
    outline-offset: .1rem;
}

.addNewStudent .cancel {
    background-color: red;
}

.addNewStudent .cancel:hover {
    outline: 1px solid red;
    outline-offset: .1rem;
}


.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 30%);
    backdrop-filter: blur(.7px);
    z-index: 2;
}

/* Laptop View */
@media (max-width: 1250px){
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr 100px;
        grid-template-areas: 
        'navigation-bar'
        'main-body'
        'footer-section';
    }

    .toggle {
        display: block;
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        background-color: var(--headerBgColor);
        height: 100%;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        z-index: 50;
        /* align-items: center; */
        
    }

    .closeIcon {
       position: absolute;
       display: block;
       top: 1rem;
       right: 1rem;
    }

    .closeIcon i {
        background-color: red;
        color: #fff;
        padding: .3rem .5rem;
        cursor: pointer;

    }

    .vanish {
        left: -300px;
    }
    

    .sidebar h2 {
        display: none;
    }
}

@media (max-width: 600px) {
    .footer-section h2 {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 460px) {
    .footer-section h2 {
        font-size: .9rem;
    }
}