@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #243642;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

.grid-wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'head'
    'showTime';
    justify-content: center;
    align-items: center;
}

header {
    grid-area: head;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* border: 1px solid yellow; */
    width: 90%;
}

header > a {
    padding: .5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    color: #243642;
}

header a:hover{
    outline: 1px solid #fff;
    outline-offset: .1rem;
}

main {
    height: 100%;
    grid-area: showTime;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid maroon; */
}

h1 {
    color: gray;
    font-size: 1.6rem;
}

.time {
    width: 30rem;
    font-size: 5.5rem;
    text-align: center;
}
